<footer class="text-muted" style="background-color: rgb(246, 242, 246); padding-top: 3rem; padding-bottom: 3rem;">
  <div class="container">
    <p class="pull-xs-right">
      <a href="#">Back to top</a>
    </p>
    <p>Notebook Page</p>
    <p>New to Tinker<a href="../../">Visit the homepage</a> or read our <a href="https://www.tinker.com">getting started guide</a>.</p>
  </div>
</footer>